<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>
<main class="container">
  <h1>Welcome to Stay In Check!</h1>
  <p>
  
  Stay in Check is your go-to task management solution, 
  designed to streamline your workflow and boost productivity. 
  Whether you're managing personal tasks, collaborating on projects, 
  or juggling multiple responsibilities, 
  Stay in Check offers a user-friendly interface that helps you stay organized and on top of your commitments. 
  With features like real-time collaboration, task prioritization, and deadline reminders, our platform ensures that you and your team can focus on what matters most. 
  Empower your day-to-day operations and achieve your goals effortlessly with Stay in Check—where productivity meets simplicity.
  
  </p>
  <div class="row">
    <div class="offset-md-1 col-md-10">
        <table class="table table-bordered table-striped table-hover">
            <!--Table Header-->
            <tr class="d-flex">
                <th class="text-center col-3">Name</th>
                <th class="col-6">Description</th>
                <th class="text-center col-3">Deadline</th>
            </tr>
            <% for(let count = 0; count < TaskList.length; count++) { %>
            <tr class="d-flex">
                <td class="text-center col-3"><%= TaskList[count].Name %></td>
                <td class="col-6"><%= TaskList[count].Description %></td>
                <td class="text-center col-3"><%= TaskList[count].Deadline %></td>
            </tr>
            <% } %>
        </table>
      </div>
  </div>
</main> 
<%- include Partials/footer.ejs %>